<%-include("partials/header", {title: title})-%>
<div class="asset-1">
  <%-include("partials/goBack", {nav: nav})-%>
  <form action="/admin/socialmedias/create" method="post" enctype="multipart/form-data">
    <table>
      <tr>
        <td>
          <label for="">Name: </label>
        </td>
        <td>
          <input type="text" class="text-fields" name="name" placeholder="Name">
        </td>
      </tr>
      <tr>
        <td>
          <label for="">Url: </label>
        </td>
        <td>
          <input type="text" class="text-fields" name="url" placeholder="Url">
        </td>
      </tr>
      <tr>
        <td>Image: </td>
        <td><input accept="image/*" type="file" name="image" id="imgInp"></td>
      </tr>
      <tr>
        <td><img id="newImage" src="#" alt="your image" /></td>
      </tr>
      <tr>
        <td><button type="submit" class="button create">Submit</button></td>
      </tr>
    </table>
  </form>
  <script>
    const imgInp = document.querySelector("#imgInp")
    const newImage = document.querySelector("#newImage")
    imgInp.onchange = evt => {
        const [file] = imgInp.files
        if (file) {
          newImage.src = URL.createObjectURL(file)
        }
    }
  </script>
</body>
</html>