<%-include("partials/header", {title: title})-%>
<div class="asset-1">
  <%-include("partials/goBack", {nav: nav})-%>
  <form action="/admin/homesliders/create" method="post" enctype="multipart/form-data">
    <table>
      <tr>
        <td>
          <label for="">Top title: </label>
        </td>
        <td>
          <input type="text" class="text-fields" name="titleTopAz" placeholder="Az">
        </td>
        <td>
          <input type="text" class="text-fields" name="titleTopEn" placeholder="En">
        </td>
      </tr>
      <tr>
        <td>
          <label for="">Bottom title: </label>
        </td>
        <td>
          <input type="text" class="text-fields" name="titleBottomAz" placeholder="Az">
        </td>
        <td>
          <input type="text" class="text-fields" name="titleBottomEn" placeholder="En">
        </td>
      </tr>
      <tr>
        <td><label for="">'Read More' field?</label></td>
        <td>
            <select name="isNewData" id="">
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
        </td>
      </tr>
      <tr>
        <td><label for="">Date:</label></td>
        <td>
            <input type="date" name="date">
        </td>
      </tr>
      <tr>
        <td>Image: </td>
        <td><input accept="image/*" type="file" name="image" id="imgInp"></td>
      </tr>
      <tr>
        <td><img id="newImage" src="#" alt="your image" /></td>
      </tr>
      <tr>
        <td><button type="submit" class="button create">Submit</button></td>
      </tr>
    </table>
  </form>
  <%-include("partials/imageview")-%>
</body>
</html>