
  <body>
    <div class="main-container">
      <div class="sidebar">
        <div class="logo">
            <a href="/">
                <img src="images/logo.svg" alt="admin-logo" />
            </a>
            </div>
        <div class="nav-elem">
          <a href="#"><i class="fa-solid fa-chart-line"></i>Dashboard</a>
        </div>
        <div class="nav-elem">
          <a href="assets.html"><i class="fa-solid fa-code"></i></i>Assets</a>
        </div>
        <div class="nav-elem">
          <a href="#"><i class="fa-solid fa-house"></i>Home Page</a>
        </div>
        <div class="nav-elem">
          <a href="#"><i class="fa-solid fa-address-card"></i>About Page</a>
        </div>
        <div class="nav-elem">
          <a href="#"><i class="fa-solid fa-list-check"></i>Project Page</a>
        </div>
        <div class="nav-elem">
          <a href="#"><i class="fa-solid fa-bell-concierge"></i>Service Page</a>
        </div>
        <div class="nav-elem">
          <a href="#"><i class="fa-solid fa-handshake"></i>Partner Page</a>
        </div>
        <div class="nav-elem">
          <a href="#"><i class="fa-solid fa-address-book"></i>Contact Page</a>
        </div>
        <!-- <div class="nav-copyright">Developed by Memo</div> -->
      </div>
      <div class="content">Welcome to Admin Panel</div>
    </div>
    <script src="index.js"></script>
  </body>
</html>
