<%-include("partials/header", {title: title, nav: nav})-%>
<div class="asset-1">
  <%-include("partials/goBack", {nav: nav})-%>
  <table class="styled-table table-1">
    <thead>
      <tr>
        <td>Name</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%-result.name-%></td>
      </tr>
    </tbody>
  </table>
</div>
