<%-include("partials/header", {title: title})-%>
<div class="asset-1">
  <%-include("partials/goBack", {nav: nav})-%>
  <form action="/admin/homesliders/update/photo/<%=result._id%>" method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <td>
                <label for="newImage">New Images (Old images will be deleted!): </label>
                <input type="file" name="images" multiple="multiple" accept="image/*">
            </td>
        <tr>
        <td><button type="submit" class="button update">Submit</button></td>
      </tr>
    </table>
  </form>
</body>
</html>