<footer id="footer">
  <div class="footer-container">
    <div class="footer-logo">
      <a href="/eng/index">
        <div class="footer-bottom-logo"></div>
      </a>
    </div>
  </div>
  <div class="footer-bottom" style="display: flex; justify-content: center;align-items: center; flex-direction: column; margin: 3rem 0;">
    <p style="margin-top: 1rem;">© All rights reserved. EKOHUB LLC <%-new Date().getFullYear()-%></p>
  </div>
</footer>
</body>
</html>