<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ecohub | <%-title-%></title>
    <meta
      name="description"
      content="ECOHUB is a non-commercial platform that operates with the aim of contributing to the reduction of the negative impact of plastic pollution on the environment."
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="Ecohub" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://ecohub.az/" />
    <script
      src="https://code.jquery.com/jquery-2.2.0.min.js"
      type="text/javascript"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <link rel="icon" type="image/x-icon" href="/images/g_logo.png" />
    <link rel="stylesheet" href="/css/style.css">
    <style>
      .navbar{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .navbar a{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .error-logo{
        width: auto;
        height: 6rem;
      }
      .error-logo img{
        width: auto;
        height: 5rem;
      }
      .content-container{
        height: 35vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      h1{
        color: #000;
        font-size: 1.8rem;
      }
      .message{
        color: #000;
        font-size: 1.2rem
      }
    </style>
