<%-include("partials/header" , {title: "Error"});-%>
<body>
    <%-include("partials/navbar");-%>
    <%-include("partials/navigation" , {title: "Error"});-%>
    <div class="content-container">
        <h1>404</h1>
        <div class="message">Page you are looking for is not found!</div>
    </div>
    <%-include("partials/footer");-%>
</body>
