<%-include("partials/header" , {title: title});-%>
<body>
  <%-include("partials/navbar", {projects: projects});-%>
  <%-include("partials/navigation" , {title: title, title_nav:title_nav });-%>

  <section id="ecoart">
    <div class="sub-title">
      <h3>Soon...</h3>
    </div>
  </section>

  <%-include("partials/footer",{script: script, news:footer_news,
  contact:contact, projects: projects, footer:logo});-%>
</body>
