<div class="sidebar">
    <div class="logo">
      <a href="/">
        <img src="/images/white_veritical.png" alt="admin-logo" />
      </a>
    </div>
    <div class="nav-elem">
      <a href="/admin/abouts"><i class="fa-solid fa-address-card"></i>About</a>
    </div>
    <div class="nav-elem">
      <a href="/admin/contacts"><i class="fa-solid fa-address-book"></i>Contact</a>
    </div>
    <div class="nav-elem">
      <a href="/admin/galeries"><i class="fa-solid fa-image"></i>Galery</a>
    </div>
    <div class="nav-elem">
      <a href="/admin/homeabouts"><i class="fa-solid fa-house"></i>Home About</a>
    </div>
    <div class="nav-elem">
      <a href="/admin/homesliders"><i class="fa-solid fa-images"></i>Slider</a>
    </div>
    <div class="nav-elem">
      <a href="/admin/news"><i class="fa-solid fa-newspaper"></i>News</a>
    </div>
    <div class="nav-elem">
      <a href="/admin/partners"><i class="fa-solid fa-handshake"></i>Partners</a>
    </div>
    <div class="nav-elem">
      <a href="/admin/projects"><i class="fa-solid fa-list-check"></i>Projects</a>
    </div>
    <div class="nav-elem">
      <a href="/admin/socialmedias"><i class="fa-solid fa-share-nodes"></i>Social Media</a>
    </div>
    <div class="nav-elem">
      <a href="/admin/teams"><i class="fa-solid fa-people-group"></i>Team</a>
    </div>
    <div class="nav-elem">
      <a href="/admin/users"><i class="fa-solid fa-user"></i>User</a>
    </div>
    <!-- <div class="nav-copyright">Developed by Memo</div> -->
  </div>