<nav class="navbar nav-container">
  <a href="/eng/index" class="logo"
    ><img src="/images/g_veritical.png" alt="Logo-img" class="nav-logo"
  /></a>
  <input type="checkbox" id="toggler" />
  <label for="toggler"><i class="fa-solid fa-bars"></i></label>
  <div class="menu">
    <ul class="list">
      <li><a href="/eng/index"> HOME </a></li>
      <li>
        <a href="/eng/about"> ABOUT </a>
        <ul class="sub-nav-header">
          <%about.forEach((data)=>{%>
          <li>
            <a href="/eng/about#<%=data._id%>"><%-data.title.en-%></a>
          </li>
          <%});%>
          <li>
            <a href="/eng/about#our-team"> OUR TEAM </a>
          </li>
          <li>
            <a href="/eng/about#partnership"> PARTNERS </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="/eng/projects"> PROJECTS </a>
        <ul class="sub-nav-header">
          <%projects.forEach((data) =>{%>
          <li>
            <a href="/eng/projects#<%=data._id%>"><%-data.title.en-%></a>
          </li>
          <%})%>
        </ul>
      </li>
      <li><a href="/eng/news"> NEWS </a></li>
      <li><a href="/eng/galery"> GALERY </a></li>
      <li><a class="middle" href="/eng/ecoart"> ECOART </a></li>
      <li><a class="middle" href="/eng/contact"> CONTACT </a></li>
      <li>
        <a class="small" href="/">EN</a>
        <ul class="small sub-nav-header">
          <li>
            <a class="small" href="/eng/index">AZ</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
