<nav class="navbar nav-container">
  <a href="/" class="logo"
    ><img src="/images/g_veritical.png" alt="Logo-img" class="nav-logo"
  /></a>
  <input type="checkbox" id="toggler" />
  <label for="toggler"><i class="fa-solid fa-bars"></i></label>
  <div class="menu">
    <ul class="list">
      <li><a href="/"> ƏSAS SƏHİFƏ </a></li>
      <li>
        <a href="/aze/about"> HAQQIMIZDA </a>
        <!-- <ul class="sub-nav-header">
          <%about.forEach((data)=>{%>
          <li>
            <a href="/aze/about#<%=data._id%>"><%-data.title.az-%></a>
          </li>
          <%});%>
          <li>
            <a href="/aze/about#our-team"> KOMANDAMIZ </a>
          </li>
        </ul> -->
      </li>
      <li>
        <a href="/aze/projects"> LAYİHƏLƏR </a>
        <!-- <ul class="sub-nav-header">
          <%projects.forEach((data) =>{%>
          <li>
            <a href="/aze/projects#<%=data._id%>"><%-data.title.az-%></a>
          </li>
          <%})%>
        </ul> -->
      </li>
      <li><a href="/aze/news"> XƏBƏRLƏR </a></li>
      <li><a href="/aze/galery"> QALEREYA </a></li>
      <li><a class="middle" href="/aze/partners"> TƏRƏFDAŞLAR </a></li>
      <li><a class="middle" href="/aze/cop29"> COP29 </a></li>
      <li><a class="middle" href="/aze/contact"> ƏLAQƏ </a></li>
      <li>
        <a class="small" href="/eng">EN</a>
        <!-- <ul class="small sub-nav-header">
          <li>
            <a class="small" href="/eng/index">EN</a>
          </li>
        </ul> -->
      </li>
    </ul>
  </div>
</nav>
