<section id="subheader-rep-img">
  <div class="subheader-img">
    <div class="subheader-nav">
      <h3 class="current-subheader"><%-title-%></h3>
      <h3 class="current-subheader-nav">
        <a href="/">Əsas Səhifə</a>
        <i class="fa-solid fa-angles-right"></i>
        <a href="/aze/<%=title_nav%>"><%-title-%></a>
      </h3>
    </div>
  </div>
</section>
