<div class="partner-box">
  <div class="partner-logo"><a href="<%=url%>" target="_blank"><img src="/uploads/<%=image%>" alt="partner-logo"></a></div>
  <div class="partner-name"><%-name-%></div>
</div>